:root {
    --gray-50: #eeeeee;
    --gray-900: #121214;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--gray-50);
    color: var(--gray-900);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:-webkit-autofill:focus {
    transition: background-color 5000s ease-in-out 0s;
}

input {
    transition: none;
}

body,
input,
textarea,
button,
span,
a {
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.05rem;
}
